<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top bg-green">
  <div class="container">
    <a href="/" class="navbar-brand"
      ><h4 class="text-white">
        <span class="text-black">Project</span> Desk
      </h4></a
    >
    <div id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/login" class="nav-link"
            ><h6 class="text-white">Login</h6></a
          >
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link"
            ><h6 class="text-white">Sign up</h6></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Showcase -->
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Welcome to Project Desk</h1>
        <p class="lead my-4">
          Efficiently manage and collaborate on projects with ease using Project
          Desk.
        </p>
        <a class="btn btn-dark bg-green btn-lg text-light" href="/login">
          Get Started
        </a>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="../../assets/img/hero-img.svg"
        alt=""
      />
    </div>
  </div>
</section>
<!-- Boxes -->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Project Management</h3>
            <fa-icon [icon]="briefCaseIcon" style="font-size: 30px"></fa-icon>
            <p class="card-text">
              Efficiently manage projects with Project Desk's powerful tools.
            </p>
            <a href="#" class="btn btn-dark bg-green">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-secondary text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title mb-3">Efficient Teamwork</h3>
            <fa-icon [icon]="teamworkIcon" style="font-size: 30px"></fa-icon>
            <p class="card-text">
              Streamline teamwork and increase productivity with Project Desk's
              collaboration tools.
            </p>
            <a href="#" class="btn btn-dark">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">Communication</h3>
            <fa-icon [icon]="messageIcon" style="font-size: 30px"></fa-icon>
            <p class="card-text">
              Communicate easily and effectively with your team using Project
              Desk's built-in messaging feature.
            </p>
            <a href="#" class="btn btn-dark bg-green">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Learn Sections -->
<section id="learn" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="../../assets/img/manage.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md p-5">
        <h2>Project Management Tools</h2>
        <p class="lead">
          Achieve project success with Project Desk's powerful project
          management tools and stay on track with ease
        </p>
        <p>
          At Project Desk, our goal is to make project management as seamless
          and efficient as possible. Utilizing our platform, teams can easily
          organize projects, set tasks and deadlines, and keep track of
          progress. Our user-friendly interface and powerful tools allow for
          effortless collaboration and communication among team members,
          ensuring projects are completed on time and to the highest standard.
        </p>
        <a href="#" class="btn btn-light mt-3">Read More </a>
      </div>
    </div>
  </div>
</section>

<section id="learn" class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Teamwork</h2>
        <p class="lead">
          Effortless collaboration and seamless communication with Project
          Desk's teamwork and messaging features.
        </p>
        <p>
          Project Desk's teamwork feature streamlines the collaboration process
          by providing an easy way to assign tasks and deadlines, keep track of
          progress and communicate effectively with your team members, all in
          one platform, which makes it easy to stay on top of your project and
          make sure that everything runs smoothly and seamlessly, while the
          built-in messaging feature ensures that team members can easily stay
          in touch and communicate effectively, making teamwork more efficient
          and productive.
        </p>
        <a href="#" class="btn btn-light mt-3">Read More </a>
      </div>
      <div class="col-md">
        <img src="../../assets/img/stats-img.svg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
