<div
  class="card text-bg-dark mb-3"
  style="width: 100%; height: 100%; overflow: hidden"
>
  <div class="card-header bg-green">{{ projectTitle }} Chat</div>
  <div
    class="card-body"
    style="overflow: hidden; overflow-y: scroll; height: 22rem"
  >
    <div
      style="display: grid; grid-template-columns: 1fr 1fr; margin-top: 20px"
      id="scrollspyHeading2"
    >
      <app-member-message></app-member-message>
      <app-user-message></app-user-message>
    </div>
  </div>
  <form
    class="form-control"
    style="display: flex; margin-top: 2rem"
    [formGroup]="sendMessageForm"
    (ngSubmit)="sendMessage()"
  >
    <input
      type="text"
      name="message"
      id=""
      placeholder="Type Your Message"
      class="form-control"
      formControlName="message"
    />
    <button class="btn btn-dark" style="margin-left: 5px">
      <fa-icon [icon]="sendIcon"></fa-icon>
    </button>
  </form>
</div>
