<div class="card text-bg-light mb-3" style="height: 100%; width: 100%">
  <div
    class="card-header"
    style="display: grid; grid-template-columns: 4fr 1fr"
  >
    <p>Task {{ taskIndex }}</p>
    <p>Status: {{ taskStatus }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ taskTitle }}</h5>
    <p class="card-text">
      {{ taskDescription }}
    </p>
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload File</label>
      <input class="form-control" type="file" id="formFile" />
    </div>
  </div>
</div>
