<div class="card text-bg-light mb-3" style="height: 100%; width: 100%">
  <div
    class="card-header"
    style="display: grid; grid-template-columns: 4fr 1fr"
  >
    <p>Task {{ taskIndex }}</p>
    <p>Status: {{ taskStatus }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ taskTitle }}</h5>
    <p class="card-text">
      {{ taskDescription }}
    </p>
    <div class="mb-3">
      <form>
        <label for="formFile" class="form-label">Upload File</label>
        <p class="text-success">{{ errorTxt }}</p>
        <div
          style="display: grid; grid-template-columns: 3fr 1fr; grid-gap: 10px"
        >
          <input
            class="form-control"
            type="file"
            id="formFile"
            (change)="onFileChange($event)"
          />
          <button class="btn btn-dark" (click)="onSubmit()">Submit</button>
        </div>
      </form>
      <button
        class="btn btn-dark"
        style="margin-top: 1em"
        *ngIf="taskFile"
        (click)="downloadFile()"
      >
        Download
      </button>
    </div>
  </div>
</div>
