<div class="card bg-light">
  <form class="form-control">
    <div class="mb-3">
      <label for="Task Title" class="form-label">Task Title</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="Task Description" class="form-label">Task Description</label>
      <input type="text" class="form-control" />
    </div>
    <div style="display: grid; place-items: center">
      <button type="submit" class="btn btn-dark" style="width: 200px">
        Add Task
      </button>
    </div>
  </form>
</div>
