<app-user-navbar
  [emailTxt]="userEmail"
  [headingTxt]="projectTitle"
  [id]="userId"
  [id2]="projectId"
  [btnTxt]="'Done'"
  [linkTxt]="'/project'"
  [isId2]="true"
></app-user-navbar>
<section style="margin: 2em">
  <div
    class="container"
    style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 20px"
  >
    <div class="card bg-dark" style="padding: 1em; height: 100%; width: 100%">
      <app-project-task-edit
        style="margin: 10px"
        *ngFor="let projectTask of projectTasks"
        [taskTitle]="projectTask.title"
        [taskDescription]="projectTask.description"
        [taskIndex]="projectTasks.indexOf(projectTask)"
        [taskId]="projectTask._id"
      ></app-project-task-edit>
    </div>
    <div class="card bg-dark" style="padding: 1em; height: 16rem; width: 100%">
      <app-create-task [projectId]="projectId"></app-create-task>
    </div>
  </div>
</section>
