<app-user-navbar
  [emailTxt]="userEmail"
  [headingTxt]="'New Project'"
  [id]="userId"
  [btnTxt]="'Save'"
  [linkTxt]="'/dashboard'"
  [isSave]="true"
  [submitObject]="project"
></app-user-navbar>
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
  style="width: 100%; height: 100%"
>
  <div
    class="container"
    style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px"
  >
    <div class="card text-bg-light mb-3" style="max-height: 300px">
      <div class="card-body">
        <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="project-title" class="form-label">Project Title</label>
            <input type="text" class="form-control" formControlName="title" />
          </div>
          <div class="mb-3">
            <label for="project-description" class="form-label"
              >Project Description</label
            >
            <textarea
              class="form-control"
              maxlength="128"
              formControlName="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <p class="text-danger" *ngFor="let error of submitErrors">
              {{ error }}
            </p>
            <p class="text-success">
              {{ submitSuccess }}
            </p>
          </div>
          <div style="display: grid; place-items: center">
            <button type="submit" class="btn btn-dark" style="width: 200px">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card text-bg-light mb-3" style="min-height: 500px">
      <app-add-member [myEmail]="userEmail"></app-add-member>
    </div>
  </div>
</section>
