<app-user-navbar
  [emailTxt]="userEmail"
  [headingTxt]="projectTitle"
  [id]="userId"
  [id2]="projectId"
  [btnTxt]="navTxt"
  [linkTxt]="navLink"
  [isId2]="true"
></app-user-navbar>
<section style="margin: 2em">
  <div
    class="container"
    style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 20px"
  >
    <div class="card bg-dark" style="padding: 1em; height: 100%; width: 100%">
      <app-project-task
        style="margin: 10px"
        *ngFor="let projectTask of projectTasks"
        [taskTitle]="projectTask.title"
        [taskDescription]="projectTask.description"
        [taskStatus]="projectTask.status"
        [taskIndex]="(projectTasks.indexOf(projectTask) + 1).toString()"
        [taskId]="projectTask._id"
        [taskFile]="projectTask.file"
      ></app-project-task>
    </div>
    <div class="card bg-dark" style="padding: 1em; height: 33rem; width: 100%">
      <app-message></app-message>
    </div>
  </div>
</section>
