<app-project-navbar></app-project-navbar>
<section style="margin: 2em">
  <div
    class="container"
    style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 20px"
  >
    <div class="card bg-dark" style="padding: 1em; height: 100%; width: 100%">
      <app-project-task style="margin: 10px"></app-project-task>
      <app-project-task style="margin: 10px"></app-project-task>
      <app-project-task style="margin: 10px"></app-project-task>
      <app-project-task style="margin: 10px"></app-project-task>
    </div>
    <div class="card bg-dark" style="padding: 1em; height: 33rem; width: 100%">
      <app-message-page></app-message-page>
    </div>
  </div>
</section>
