<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top bg-green">
  <div class="container">
    <a href="/" class="navbar-brand"
      ><h4 class="text-white">
        <span class="text-black">Project</span> Desk
      </h4></a
    >
    <div id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <div class="nav-link">
            <h6 class="text-white">{{ emailTxt }}</h6>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <fa-icon
              [icon]="userIcon"
              style="font-size: 30px; color: #fff"
            ></fa-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
