<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top bg-green">
  <div class="container">
    <a href="/" class="navbar-brand"
      ><h4 class="text-white">
        <span class="text-black">Project</span> Desk
      </h4></a
    >
    <div id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/login" class="nav-link"
            ><h6 class="text-white">santhushamunasinghe@gmail.com</h6></a
          >
        </li>
        <li class="nav-item">
          <div>
            <fa-icon
              [icon]="userIcon"
              style="font-size: 30px; color: #fff"
            ></fa-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div
        style="
          margin-bottom: 20px;
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 20px;
          align-items: center;
        "
      >
        <fa-icon
          [icon]="tableIcon"
          style="font-size: 30px; margin-bottom: 5px"
        ></fa-icon>
        <h5>Dashboard</h5>
      </div>
      <a
        href="/create"
        class="btn btn-dark bg-green"
        style="margin-bottom: 20px"
        >Create New</a
      >
    </div>
  </div>
</section>
<section class="p-5">
  <div
    class="container"
    style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px"
  >
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
  </div>
</section>
