<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top bg-green">
  <div class="container">
    <a href="/" class="navbar-brand"
      ><h4 class="text-white">
        <span class="text-black">Project</span> Desk
      </h4></a
    >
  </div>
</nav>
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
  style="
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  "
>
  <div class="container">
    <div
      class="card text-bg-light mb-3"
      style="
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="card-body">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"
              >Password
              <span style="color: #777"
                >(Password should be 8-16 characters)</span
              ></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="passwordConfirmed"
            />
          </div>
          <div class="mb-3">
            <p class="text-danger" *ngFor="let err of signupErrors">
              {{ err }}
            </p>
          </div>
          <div style="display: grid; place-items: center">
            <button type="submit" class="btn btn-dark" style="width: 200px">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer style="position: fixed; bottom: 0; width: 100%"></app-footer>
