<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top bg-green">
  <div class="container">
    <a href="/" class="navbar-brand"
      ><h4 class="text-white">
        <span class="text-black">Project</span> Desk
      </h4></a
    >
  </div>
</nav>
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
  style="width: 100%; height: 100%; position: absolute; left: 0; margin: 0"
>
  <div
    class="container"
    style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 20px"
  >
    <div class="card text-bg-light mb-3">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="project-title" class="form-label">Project Title</label>
            <input type="text" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="project-description" class="form-label"
              >Project Description</label
            >
            <textarea class="form-control" maxlength="128"></textarea>
          </div>
          <div class="mb-3">
            <label for="members" class="form-label">Add Members</label>
            <div style="display: flex; gap: 20px">
              <input type="email" class="form-control" />
              <button class="btn btn-dark">Add</button>
            </div>
          </div>
          <div style="display: grid; place-items: center">
            <button type="submit" class="btn btn-dark" style="width: 200px">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card text-bg-light mb-3" style="max-width: 18rem">
      <div class="card-header"><h4>Members</h4></div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <p style="display: block">santhushamunasinghe601@gmail.com</p>
            <button class="btn btn-danger">Remove</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer style="position: fixed; bottom: 0; width: 100%"></app-footer>
